<div class="tracker-container">
  <div class="circle">
    <div class="circle-not-started"></div>
  </div>
  <div class="circle">
    <div class="circle-draft"></div>
  </div>
  <div class="circle">
    <div class="circle-parked">
      <i class="material-icons">alarm</i>
    </div>
  </div>
  <div class="circle">
    <div class="circle-completed">
      <i class="material-icons">check_circle</i>
    </div>
  </div>
  <div class="circle">
    <div class="circle-denied">
      <i class="material-icons">cancel</i>
    </div>
  </div>
  <div class="circle">
    <div class="circle-in-progress">
      <div></div>
    </div>
  </div>
</div>
<div class="tracker-container">
  <div class="circle small">
    <div class="circle-not-started"></div>
  </div>
  <div class="circle small">
    <div class="circle-draft"></div>
  </div>
  <div class="circle small">
    <div class="circle-parked">
      <i class="material-icons">alarm</i>
    </div>
  </div>
  <div class="circle small">
    <div class="circle-completed">
      <i class="material-icons">check_circle</i>
    </div>
  </div>
  <div class="circle small">
    <div class="circle-denied">
      <i class="material-icons">cancel</i>
    </div>
  </div>
  <div class="circle small">
    <div class="circle-in-progress">
      <div></div>
    </div>
  </div>
</div>
<div class="tracker-container">
  <div class="content-box">
    <div>
      <div>
        <div class="title">
          <i class="material-icons">room</i>
          <div>
            <div class="name">Draft - Withdrawn</div>
            <div class="update">Last Updated 01.15.18</div>
          </div>
        </div>
        <div class="line">Evaluation Withdrawn on
          <span class="line-date">[date]</span>
        </div>
        <div class="line">Evaluation Withdrawn on
          <span class="line-date">[date]</span>
        </div>
        <div class="line">Evaluation Withdrawn on
          <span class="line-date">[date]</span>
        </div>
        <div class="line">Evaluation Withdrawn on
          <span class="line-date">[date]</span>
        </div>
        <div class="san">SAN 123456789 originally on the CEAC was replaced</div>
      </div>
      <div>
        <div>
          <i class="material-icons">mail_outline</i>
          <div>Talk to requestor</div>
        </div>
        <div>
          <i class="material-icons">mail_outline</i>
          <div>Talk to requestor</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tracker-container">
  <div class="box left right">
    <div class="circle">
      <div class="circle-not-started"></div>
    </div>
  </div>
</div>